h1 {
    color:blue;
    font-family:helvetica;

}

p {
  color:red;
  font-family:sans-serif;
}

img {
border: 5px solid white;
}

body {
background-color:black;
border: 30px dotted purple;
padding: 10px;
}
